# Entornos virtuales (Burbujas aisladas)
.venv/
venv/
env/

# Basura interna de Python (Traducciones a Bytecode)
__pycache__/
*.pyc

# Basura del sistema operativo Mac
.DS_Store

# Configuraciones ocultas del editor (VS Code)
.vscode/
*.code-workspace

# Archivos de bitácoras o reportes temporales
*.log